body {
    padding: 0.8em;
    margin: 0;
    font-family: Arimo, Arial, sans-serif;
    font-size: 1em;
    color: #f6f8ca;
    background-color: #f6f8ca;
    min-width: 400px;
}


header, article, footer, nav {
    background-color: #1f8a70;
    border-radius: 0 10px;
    margin: 0.5em;
    padding: 0.8em;
}

/* En-tête */
header {
    align-items: center;
}

header nav {
    background-color: #f6f8ca;
}

header ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    
}

header ul li {
    display: inline-block;
    width: 7em;
    text-align: center;
    margin: auto 2px;
}

header ul li a {
    width: 100%;
    display: inline-block;
    background-color: #1f8a70;
    border: 1px solid #1f8a70;
    color: #f6f8ca;
    font-variant: small-caps;
    text-decoration: none;
}

header ul li a:hover {
    background-color: #f6f8ca;
    color: #1f8a70;
}

header div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header img {
    height: 150px;
    width: 150px;
    box-shadow: none;
    margin-right: 0.8em;
}

header h1 {
    
    font-family: Roboto, Arial, sans-serif;
    width: 80%;
    height: 264px; /* Dimension de l'image */
    background: url(images/ile-de-batz.jpg) no-repeat center;
    color: #1f8a70;
    font-variant: small-caps;
    font-size: 4em;
    text-align: center;
}

/* Contenu principal */
article h2 {
    font-family: Roboto, Arial, sans-serif;
    font-weight: bolder;
}

article em, article strong {
    background-color: #f6f8ca;
    color: #1f8a70;
}

section {
    display: flex;
}

section article figure {
    margin: 0;
    float: right;
    margin: 1em 0.5em;
}

section + article div {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

article ul {
    flex-shrink: 0;
    flex-grow: 0;
    list-style-image: url(images/puce-fleur.png);
}

article ul ul {
    list-style: square none;
}

img {
    box-shadow: 5px -5px 3px 0px #f6f8ca;
}

/* Pied de page */
footer {
    font-size: 0.8em;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #f6f8ca;
}

/* Bloc de navigation externe */
body > nav {
    position: fixed;
    top: 3em;
    right: -1em;
    border: 1px solid #1f8a70;
    background-color: #f6f8ca;
    border-radius: 10px 0 0 10px;
}

body > nav img {
    display: block;
    width: 3em;
}